body {
    font-family: serif;
    margin: 0;
    background: #f4f4f4;
}

.slider {
    position: relative;
    width: 90%;
    max-width: 850px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 12px;
}

/* All images same size */
.slide {
    width: 100%;
    height: 450px;
    object-fit: cover; /* equal size without stretch */
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /* smooth fade */
}

.slide.active {
    opacity: 1;
    position: relative;
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 8px 14px;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s;
    user-select: none;
}

.arrow:hover {
    opacity: 1;
}

/* Arrows OUTSIDE */
.prev {
    left: -55px;
}

.next {
    right: -55px;
}

/* Dots */
.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    background: #aaa;
    border-radius: 50%;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}

.dot.active {
    background: #333;
}
